@use '../../sass/_variables'


.user-tasks
    width: 90%
    height: 76vh
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    border-radius: 20px 20px 0 0
    overflow-y: auto
    padding: 0  2rem
    padding-bottom: 50px
    background-color: variables.$white-color

    .user-nav-top
        display: flex
        justify-content: space-between
        background-color: variables.$white-color
        padding: 0 5px
        padding-top: 40px
        padding-bottom: 30px

        .userPhoto > img
            object-fit: cover
            width: 2.1rem
            height: 2.1rem
            border-radius: 50%

        h1
            color: variables.$dark-gray
            letter-spacing: 1px

        .new-task
            background: transparent
            border: none
            cursor: pointer
            height: 30px
            font-size: 13px
            transition: .2s
            border-bottom: solid 1px transparent

            &:hover
                border-bottom: solid 1px variables.$gray-color    
        
    .user-nav-bottom
        top: 0
        position: sticky
        padding: 10px
        font-size: .8rem
        background-color: variables.$white-color
        // border-bottom: solid 1px variables.$dark-gray
        border-bottom: solid 1px variables.$gray-color
        box-shadow: 0rem 1rem .5rem -.5rem rgba(0, 0, 0, 0.025)


        ul
            width: calc( 100% - 225px  )
            text-align: center
            display: flex
            justify-content: space-between
            gap: 10px
            margin-left: 20px
            padding: 10px 0

            li             
                list-style: none
                flex-grow: 1
                min-width: 150px

            li:nth-child(2)
                min-width: 310px
    .loading
        height: 45vh
        display: grid
        place-content: center

        img
            width: 4rem
            
    .user-no-tasks-div
        height: 35vh
        display: grid
        place-content: center        
    


.user-tasks::-webkit-scrollbar 
    width: 6px
    border: dashed 1px #111
    border-radius: 20px
    padding: 10px


.user-tasks::-webkit-scrollbar-thumb 
    background-color: transparent
    border: solid 1px #111
    cursor: s-resize
    border-radius: 20px


.user-tasks::-webkit-scrollbar-track 
    background-color: transparent
