@use '../../sass/_variables'
@use '../../sass/_mixins'

.task
    display: flex
    border-bottom: 1px dashed variables.$gray-color
    justify-content: space-between
    // flex-wrap: wrap
    width: 100%
    margin: 0 auto
    padding: 0 5px
    gap: 10px
    @include mixins.responsive-max-width-1240px
        display: grid
        grid-template-columns: repeat(1, 1fr)
        margin-bottom: 1rem
        padding-bottom: 1rem 
        gap: 3px
        &:last-child 
            grid-column: span 2



    .p-father   
        display: grid
        place-content: center
        line-height: 20px
        font-size: .85rem
        text-align: start
        margin: 5px 0
        min-width: 150px
        width: 150px
        height: 80px
        flex-grow: 1
        @include mixins.responsive-max-width-1240px
            width: 100%
            border: solid 1px variables.$dark-gray
            border-radius: 4px
            margin: 0
            &:last-child 
                margin-top: 100px



        p
            overflow-y: auto

            

    .p-father:nth-child(2)     
        width: 210px
        min-width: 300px
        @include mixins.responsive-max-width-1240px
            min-width: 100%

    .complete
        text-decoration: line-through
   

    .buttons-actions
        display: flex
        justify-content: center
        align-items: center
        gap: 15px
        @include mixins.responsive-max-width-1240px
            width: 100%
            gap: 3px
            justify-content: space-between

        .task-btn
            width: 85px
            height: 50px
            background: transparent
            font-weight: bold
            padding: 10px 15px
            border: solid 1px variables.$dark-gray
            border-radius:7px
            cursor: pointer
            transition: .1s
            @include mixins.responsive-max-width-1240px
                width: 100%
                border-radius: 4px


        .delet
            &:hover
                color: variables.$red-pink
                border-color:  variables.$red-pink

        .edit
            &:hover
                color: variables.$white-color
                background-color: variables.$dark-gray


p::-webkit-scrollbar 
    width: 5px
    background: #e9e9e9

p::-webkit-scrollbar-thumb 
    // background-color: variables.$green-color-white
    background-color: #3B3B3B



p::-webkit-scrollbar-track 
    background-color: transparent

