@use '../../sass/_variables'
    
.warning
        width: 100%
        position: absolute
        left: 50%
        transform: translateX(-50%)
        bottom: 0
        background: variables.$dark-gray
        color: variables.$white-color
        padding: .4rem
        p
            font-size: 13px
            border-bottom: none

            a
                color: #1679e2