.test-nav
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
    background: #fff
    padding: 2rem
    display: flex 
    width: 400px
    justify-content: space-between
    z-index: 20