
.warning-btn
    border: none
    background: transparent
    cursor: pointer    
    width: 2rem
    height: 2rem
    color: #db0c0c
    font-size: 2rem
    transition: .2s
    &:hover
        color: red
  
        
